*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html
{
    height: 100%;
}

body
{
    padding: 12px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(255, 145, 0));
}

.above
{
    display: flex;
    padding: 5px;
    background-color: rgb(203, 203, 203);
}

.paragraph
{
    margin-left: 25%;
}


.nav
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

main
{
    padding: 10px;
    display: flex;
    background-color: rgb(223, 222, 222);
}

aside
{
    margin: 0 10px;
    border-radius: 10px;
    width: 28%;
    background-color: white;
}

main section
{
    border-radius: 10px;
    padding: 10px;
    width: 70%;
    background-color: white;
}

.div
{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.item-list
{
    display: flex;
}

.description
{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

.range
{
    color: rgb(223, 133, 23);
    font-weight: bold;
}

.normal-links
{
    padding: 10px;
}

a
{
    text-decoration: none;
}

.option1
{
    color:  rgb(223, 133, 23);
    border-bottom: darkorange 2px ;
    padding: 10px;
}

.option2
{
    padding: 20px;
}

main aside div
{
    padding: 20px;
}

.iona
{
    margin: 0 20px;
}

aside p
{
    margin: 30px 20px;
}

.icona:hover
{
    background-color: grey;
}

#search
{
    width: 300px;
    padding: 10px;
    background-color: white;
    border: none;
}

.searched
{
    border: 2px solid black;
    padding: 10px;
}
